*.pyc
*.swp
*.swo
*.egg-info
*.idea
*.map
*.vim
.DS_Store
.idea/**
\.env

\.venv
.sass-cache/
bin
data/
etc/
venv/
virtualenv-*/
var/
scgi_temp/
*sublime*
gitignored/*
*.ipynb
/.ipynb_checkpoints/
certbot-auto
.vscode/
__pycache__
.coverage
.cache
*.db
